mixin storeForm(store = {})
  form(action=`/add/${store.id || ''}` method="POST" ectype="multipart/form-data" class="card")
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea( name="description")= store.description
    //- address, lng and lat
    lable(for="address") Address
    input(type="text" id="address", name="location[address]" value=(store.location && store.location.address))
    lable(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]))

    lable(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]))
    
    - const choices = ['Wifi', 'Open late', 'Family friendly','Vagetarian', 'Licensed']
    - tags = store.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for="choice")= choice
    input(type="submit" value="Save" class="button")
